<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Include another file -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Define two loggers -->
    <logger name="com.example.controllers" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="com.example.helpers" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
</configuration>
