<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Defines a property that can be reused -->
    <property name="BASE_PATH" value="logs" />
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} - %5p - %40.40logger{39} - %m%n" />

    <!-- File without rolling -->
<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>${BASE_PATH}/example_main.log</file>-->
<!--        <encoder>-->
<!--            <pattern>${PATTERN}</pattern>-->
<!--        </encoder>-->
<!--    </appender>    -->

    <!-- File with rolling -->
    <property name="MAX_SIZE" value="1KB" />
    <property name="MAX_HISTORY" value="20" />
    <property name="TOTAL_SIZE_CAP" value="1MB" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${BASE_PATH}/example_main.log</file>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${BASE_PATH}/archive/example_main_%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>

            <!-- each file should be at most 1KB, keep days worth of history, but at most 20GB -->
            <maxFileSize>${MAX_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Setting additivity to false prevents the appender to bubble up towards the root, which
         would cause the logs to be written twice -->
    <logger name="com.objectway.stage.examples.logging.controller" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </logger>

    <!-- The root logger always has a level (DEBUG is the default) -->
    <root>
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
